.modal__wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(11, 25, 39, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 20;
    &_active {
        display: flex;
        flex-direction: column-reverse;
    }
    &_winner {
        z-index: 22;
    }
}

.modal__menu {
    display: none;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    z-index: 21;
    text-align: center;
    &_active {
        display: inline-block;
    }
}

.modal__menu li {
    padding-bottom: 50px;
    @media screen and (max-width: 425px)  {
        padding-bottom: 25px;
    }   
}

.modal__game-text, 
.modal__load-text, 
.modal__save-text, 
.modal__settings-text, 
.modal__resume-text, 
.modal__best-text {
    cursor: pointer;
    &:hover{
        color: #868686;
    }
}

.modal__resume {
    display: none;

    &_active {
        display: inline-block;
    }

}

.settings__menu, 
.bestScopes__menu {
    display: none;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    z-index: 21;
    text-align: center;
    &_active {
        display: inline-block;
    }
}
   
.modal__winner {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #ff3535;
    z-index: 21;
    text-align: center;
    padding-bottom: 20px;
}

.settings__menu li {
    padding-bottom: 25px;
}

.bestScopes__menu_list {
    list-style-type: decimal;
}

.bestScopes__menu {
    @media screen and (max-width: 425px)  {
        font-size: 16px;
    } 
}



.bestScopes__winner {
    padding-bottom: 20px;
}

.settings__three-text, 
.settings__four-text, 
.settings__five-text, 
.settings__six-text, 
.settings__seven-text, 
.settings__eight-text, 
.settings__back, 
.bestScopes__back {
    cursor: pointer;
    &:hover{
        color: #868686;
    }
}