.puzzle {
  background: #3ab4b4;
  background: linear-gradient(90deg, #3ab4b4 0%, #4084ff 74%, #2032fd 100%);
  height: 100vh;
  width: 100vw;
}

.puzzle__settings {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  max-width: 95%;
  padding-top: 35px;
}
@media screen and (max-width: 768px) {
  .puzzle__settings {
    padding-top: 10px;
    max-width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .puzzle__settings {
    padding-top: 10px;
    max-width: 95%;
  }
}

.puzzle__settings-images {
  width: 50px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .puzzle__settings-images {
    width: 45px;
  }
}
@media screen and (max-width: 425px) {
  .puzzle__settings-images {
    width: 40px;
  }
}

.puzzle__settingsImage {
  z-index: 21;
}
@media screen and (max-width: 768px) {
  .puzzle__settingsImage {
    padding-top: 20px;
  }
}
.puzzle__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #15245c;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  padding: 10px;
  border-radius: 3%;
}
@media screen and (max-width: 425px) {
  .puzzle__wrapper {
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
  }
}
.puzzle__wrapper_three {
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
@media screen and (max-width: 425px) {
  .puzzle__wrapper_three {
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
  }
}
.puzzle__wrapper_five {
  grid-template-columns: 80px 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px 80px;
}
@media screen and (max-width: 425px) {
  .puzzle__wrapper_five {
    grid-template-columns: 58px 58px 58px 58px 58px;
    grid-template-rows: 58px 58px 58px 58px 58px;
  }
}
.puzzle__wrapper_six {
  grid-template-columns: 75px 75px 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px 75px 75px;
}
@media screen and (max-width: 425px) {
  .puzzle__wrapper_six {
    grid-template-columns: 48px 48px 48px 48px 48px 48px;
    grid-template-rows: 48px 48px 48px 48px 48px 48px;
  }
}
.puzzle__wrapper_seven {
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
}
@media screen and (max-width: 1024px) {
  .puzzle__wrapper_seven {
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
  }
}
@media screen and (max-width: 425px) {
  .puzzle__wrapper_seven {
    grid-template-columns: 42px 42px 42px 42px 42px 42px 42px;
    grid-template-rows: 42px 42px 42px 42px 42px 42px 42px;
  }
}
.puzzle__wrapper_eight {
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
}
@media screen and (max-width: 768px) {
  .puzzle__wrapper_eight {
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  }
}
@media screen and (max-width: 425px) {
  .puzzle__wrapper_eight {
    grid-template-columns: 37px 37px 37px 37px 37px 37px 37px 37px;
    grid-template-rows: 37px 37px 37px 37px 37px 37px 37px 37px;
  }
}

.puzzle__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #0c0c0d;
  font-size: 36px;
  margin: 1px;
  border-radius: 5%;
  box-shadow: 0 0 30px #3d3d40;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}
.puzzle__button_hide {
  opacity: 0;
}
.puzzle__button_image {
  font-size: 0px;
}
@media screen and (max-width: 768px) {
  .puzzle__button {
    font-size: 24px;
  }
}
.puzzle__button_move:active {
  background-color: #cacaca;
}

.puzzle__empty {
  background-color: transparent;
  box-shadow: none;
}

.puzzle__none {
  display: none;
}

.puzzle__time {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .puzzle__time {
    font-size: 30px;
    padding-top: 20px;
  }
}
@media screen and (max-width: 425px) {
  .puzzle__time {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.puzzle__count {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .puzzle__count {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .puzzle__count {
    font-size: 24px;
  }
}

.puzzle__sound {
  padding-right: 20px;
}
@media screen and (max-width: 425px) {
  .puzzle__sound {
    padding-right: 5px;
  }
}

.puzzle__image {
  padding-right: 20px;
}
@media screen and (max-width: 425px) {
  .puzzle__image {
    padding-right: 5px;
  }
}

.modal__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 25, 39, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.modal__wrapper_active {
  display: flex;
  flex-direction: column-reverse;
}
.modal__wrapper_winner {
  z-index: 22;
}

.modal__menu {
  display: none;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: white;
  z-index: 21;
  text-align: center;
}
.modal__menu_active {
  display: inline-block;
}

.modal__menu li {
  padding-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .modal__menu li {
    padding-bottom: 25px;
  }
}

.modal__game-text,
.modal__load-text,
.modal__save-text,
.modal__settings-text,
.modal__resume-text,
.modal__best-text {
  cursor: pointer;
}
.modal__game-text:hover,
.modal__load-text:hover,
.modal__save-text:hover,
.modal__settings-text:hover,
.modal__resume-text:hover,
.modal__best-text:hover {
  color: #868686;
}

.modal__resume {
  display: none;
}
.modal__resume_active {
  display: inline-block;
}

.settings__menu,
.bestScopes__menu {
  display: none;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: white;
  z-index: 21;
  text-align: center;
}
.settings__menu_active,
.bestScopes__menu_active {
  display: inline-block;
}

.modal__winner {
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #ff3535;
  z-index: 21;
  text-align: center;
  padding-bottom: 20px;
}

.settings__menu li {
  padding-bottom: 25px;
}

.bestScopes__menu_list {
  list-style-type: decimal;
}

@media screen and (max-width: 425px) {
  .bestScopes__menu {
    font-size: 16px;
  }
}

.bestScopes__winner {
  padding-bottom: 20px;
}

.settings__three-text,
.settings__four-text,
.settings__five-text,
.settings__six-text,
.settings__seven-text,
.settings__eight-text,
.settings__back,
.bestScopes__back {
  cursor: pointer;
}
.settings__three-text:hover,
.settings__four-text:hover,
.settings__five-text:hover,
.settings__six-text:hover,
.settings__seven-text:hover,
.settings__eight-text:hover,
.settings__back:hover,
.bestScopes__back:hover {
  color: #868686;
}

/*# sourceMappingURL=style.css.map */
